<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactamos para avisarte que tu correo se está cambiando a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te contactamos para avisarte que tu correo se cambió a <%= @resource.email %>.</p>
<% end %>
