<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Editar producto</h1>
  <div class="d-flex gap-2">
    <%= link_to "Ver producto", [:backstore, @product], class: "btn btn-outline-dark" %>
    <%= link_to "Volver", backstore_products_path, class: "btn btn-outline-dark" %>
  </div>
</div>

<%= render "form", product: @product %>
